body {
    background-color: lightblue;
}

form {
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Audrey';
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #FBFFFF;
    padding: 2rem 9%; /* Adjusted padding */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    box-shadow: 0 .5rem 1rem black;
    z-index: 99;
    height: 6rem; /* Adjusted height */
    
}

header .logo {
    color: grey;
    font-weight: bolder;
}

header .navbar a {
    padding: 0 1rem; /* Adjusted padding */
    color: grey;
}

header .icons {
    display: flex;
    align-items: center;
}

header .icons a {
    color: #333;
    margin-right: 1rem; /* Adjusted margin */
}

header .icons a:last-child {
    margin-right: 0;
}

.menu {
    margin-top: 10px;
    list-style: none;
    padding: 10px;
    border: 1px solid #363a43;
    display: none;
    position: absolute;
    background: #fff;
    min-width: 80px;
    font-size: 20px;
    border-radius: 5%;
    cursor: pointer;
}

.menu .logout {
    background: none;
    font-size: 20px;
    cursor: pointer;
}

.show {
    display: block;
}

.account_box {
    font-size: 15px;
    background: orange;
    padding: 10px;
    border-radius: 5%;
}

.container{
    width:100%;
    
}

form {
    font-size: 1.6rem; /* Adjusted font size */
}

label {
    margin-bottom: 0.5rem; /* Adjusted margin */
}

input,
textarea {
    font-size: 1.6rem; /* Adjusted font size */
    padding: 1rem; /* Adjusted padding */
    margin-bottom: 1.5rem; /* Adjusted margin */
}

.btn {
    font-size: 1.6rem; /* Adjusted font size */
    padding: 1rem 2rem; /* Adjusted padding */
}