* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #FBFFFF;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    box-shadow: 0 .5rem 1rem black;
    z-index: 99;
}

header .logo {
    font-size: 3rem;
    color: grey;
    font-weight: bolder;
}

header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: grey;
}


header .icons {
    display: flex;
    align-items: center;
}

header .icons a {
    font-size: 2.5rem;
    color: #333;
    margin-right: 1.5rem;
}

header .icons a:last-child {
    margin-right: 0;
}

.menu {
    margin-top: 10px;
    list-style: none;
    padding: 10px;
    border: 1px solid #363a43;
    display: none;
    position: absolute;
    background: #fff;
    min-width: 80px;
    font-size: 20px;
    border-radius: 5%;
    cursor: pointer;
}

.menu .logout {
    background: none;
    font-size: 20px;
    cursor: pointer;
}

.show {
    display: block;
}

.account_box {
    font-size: 15px;
    background: orange;
    padding: 10px;
    border-radius: 5%;
}

.account_box p{
    margin-bottom: 0;
  }

body {
    background: rgb(155,211,221);
    background: linear-gradient(90deg, rgba(155,211,221,1) 0%, rgba(136,176,224,1) 100%);
    align-items: center;
    text-align: center;
}

.page {
    display: flex;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    height: auto;
}

.filter {
    display: block;
    width: 30%;
    max-width: 400px;
    height: available;
    min-height: 400px;
    float: left;  
    margin: 0 auto;
    word-wrap: break-word;
    margin-right: 20px;
}

.product {
    display: flex;
    flex-direction: column;
   background: #fff;
    width: 100%;
    min-width: 800px;
    border-radius: 10px;
    height: 100%;
    min-height: 650px;
    float: left;
    margin: 0 auto 10px auto;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch; /* Set align-items to stretch */
    width: 100%;
}

.product-card {
    width: calc(25% - 30px);
    height: 380px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 15px;
    
}

.product-card:hover{
    border:1px white solid;
    box-shadow: white;
}

.product-card p {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-card img {
    width: 150px;
    height: 200px;
    object-fit: cover;
}


.btn-class {

    display: flex;
    justify-content: space-between;
    width: 100%; /* Ensure buttons take full width */
    margin-top: auto; /* Push buttons to the bottom of the container */
}

.btn-custom {
    background-color: orange;
    color: #fff;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    width: 48%; /* Adjust button width */
    text-align: center; /* Center text within the button */
    box-sizing: border-box; /* Include padding in width */
    font-size: 1.5rem;
    margin-bottom: 0;
}

.btn-custom:hover {
    background-color: #ff8c00; /* Adjust hover color if needed */
    color:white;
}

.btn-custom:first-child {
    margin-right: 4%; /* Adjust margin between buttons */
}
.btn-custom button {
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

/* Add the following CSS rule to style the search container */
.search-container {
    display: flex;
    align-items: center;
    border:1px black solid;
    border-radius: 10px;
}

/* Adjust the styling of the search input */
.searching {
    flex: 1;
    border: none;
    padding: 8px;
    border-radius: 50px;
   
}

/* Style the search button */
.icon {
    margin-right: 15px;
    cursor: pointer;
    background: #fff;
    color: black;
}

.filter-checkbox {
    text-align: left;
    padding: 15px;
    font-size: 15px;
}

.fbox {
    border-radius: 10px;
    top:35%;
    background: #fff;
    padding:10px;
}

.invisible-input {
    display: none;
}

.s_title {
    font-size:40px;
    font-family: kalnia;
}

.count {
    display: flex;
    margin-top: 10px;
}

.btn-custom a {
    color: #fff; /* Set text color explicitly for the anchor tag */
    text-decoration: none; /* Remove underline, if any */
}

.addToCartBtn{
    background-color: orange;
    cursor:pointer;
}


.pagination {
    justify-content: center;
    margin-top: 20px;
    
}

.pagination .page-link {
    font-size: 15px; /* Adjust the font size */
    padding: 10px 15px; /* Adjust the padding */
    
}

.pagination .page-item.active .page-link {
    background-color: orange; /* Change the background color of the active page */
    border: 1px solid orange; /* Change the border color of the active page */
}

.s_title{
    font-weight: bold;
    font-size: 7rem;
    font-family: ZCOOL QingKe HuangYou;
    margin-top: 50px;
}

footer .container-fluid {
    background-color: black;
    color: white;
  }
  
  .text-center {
    color: gray;
  }
  
  .top {
    background: orange; 
    color: white;
    font-size: 3rem;
    padding: 1px 10px;
    position: fixed;
    bottom: 8rem;
    right: 2rem;
    border-radius: 50%;
    width: 40px; /* Set a fixed width */
    height: 40px; /* Set a fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.top i {
    vertical-align: middle; /* Align the icon vertically */
}

.top:hover{
    background: white;
    color:orange;
}