body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
   
    background-image: url('bgbanner.jpg');
    background-attachment: fixed;
    background-size: 100%;
    
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

.bg{
    background-size: cover;
}

.hello-box p{
    font-size: 40px;
    justify-content: center;
    text-align: center;
    width: auto;
    font-family: Rubik Bubbles;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

form {
    background: rgba(255, 255, 255, 0.5); /* Glassmorphism effect */
    padding: 30px;
    width: 500px;
    border-radius: 20px 80px;
    backdrop-filter: blur(10px); /* Glassmorphism effect */
}

.form-grp {
    margin-bottom: 30px;
}

label {
    color: black; /* Change text color to white for better visibility */
    padding: 10px;
}

input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    background: white;
}

.btn1,
.btn2 {
    float: right;
    background: rgba(0, 0, 0, 0.7); /* Adjust background color for buttons */
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    width: 100px;
    margin-bottom: 0;
}

.btn1:hover,
.btn2:hover {
    opacity: 0.8; /* Adjust opacity on hover */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add box shadow on hover */
}

.connect_register {
    color: white; /* Change text color to white */
    text-decoration: none;
}

.connect_login {
    color: white; /* Change text color to white */
    text-decoration: none;
}

.register {
    display: none;
}

img {
    max-width: 50px;
}

.error-container {
    width: 95%;
    margin: 0 auto;
}

.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.alert-danger {
    background: #F2DEDE;
    color: #8B0000;
}

.alert-success {
    background: #DFF0D8;
    color: #468847;
}

.alert .form-grp {
    margin: 1px;
}

.input-container {
    position: relative;
    padding: 10px;
}

input[type="password"] {
    width: 100%;
    background: white;
}

#eye-icon {
    width: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    cursor: pointer;
}

.nothing {
    all: unset;
    display: block;
    margin-bottom: 10px;
    margin-right: 0%;
    cursor: pointer;
}
